@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(0, 0%, 98%);
    --secondary-color: hsl(0, 0%, 8%);
    --neutral-color: hsl(0, 0%, 41%);

    --primary-bg-color: hsl(0, 0%, 98%);
    --primary-text-color: hsl(0, 0%, 8%);
    --secondary-text-color: hsl(0, 0%, 41%);

    --ff-body: font-family: 'Epilogue', sans-serif;;
    --fs-primary-header: 1.5rem;
    --fs-secondary-text: 1.125rem;

    --fw-primary-header: 700;
    --fw-secondary-text: 500;

    @media screen and (max-width: 768px) {
        --fs-primary-header: 1.2rem;
        --fs-secondary-text: 0.875rem;
    }
}

body {
    background: var(--primary-bg-color);
    font-size: var(--fs-secondary-text);
    color: var(--primary-text-color);
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    font-size: var(--fs-primary-header);
    font-weight: var(--fw-primary-header);
    
}

p {
    font-size: var(--fs-secondary-text);
    font-weight: var(--fw-secondary-text);
    color: var(--secondary-text-color);
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    min-width: 90%;
    min-height: 70px;
    margin: auto;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
}

.nav__link {
    transition: 0.7s ease;
}

.container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.hamburger__menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #000;
}

@media screen and (max-width: 768px) {
    .hamburger__menu {
        display: block;
    }
    .hamburger__menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger__menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger__menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav__menu {
        position: fixed;
        right: -100%;
        top: 70px;
        color: var(--primary-text-color);
        width: 50%;
        gap: 20px;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
    }
    .nav__item {
        margin: 0;
    }
    .nav__menu.active {
        right: 0;
        background: var(--primary-bg-color);
        border: 1px solid red;
        padding: 10px 0;
        max-height: 100%;
    }
}